PUBLIC_KEY="SSH Public Key"

MODEL_DL_ROOT=/workspace/models
MODEL_DL_LOG=${MODEL_DL_ROOT}/dl.log
MODEL_DL_LIST=${MODEL_DL_ROOT}/dl_list.yaml

HF_TOKEN = "HuggingFace Access Token"

CIVITAI_API_TOKEN = "CIVITAI API Token"
CIVITAI_API_URL=https://civitai.com/api/v1
